{% extends "base.html" %}
{% load static %}
{% block title %}Главная {% endblock %} 
{% block head_extra %}
<link rel="stylesheet" href="{% static 'videohost/css/index.css' %}">
<link rel="stylesheet" href="{% static 'videohost/css/video_detail.css' %}">
{% endblock  %}
{% block content %}
  {% if query %}
    <h5 class="text-light mb-3">Результаты поиска: "{{ query }}"</h5>
  {% endif %}

  

<div class="carousel-container">
    <div class="carousel-title">Популярные видео</div>
    <div class="carousel-wrapper">
        {% for video in popular_videos %}
            {% include "videohost/includes/video_card.html" with video=video %}
        {% endfor %}
    </div>
</div>


<div class="carousel-container">
    <div class="carousel-title">Новые видео</div>
    <div class="carousel-wrapper">
        {% for video in new_videos %}
            {% include "videohost/includes/video_card.html" with video=video %}
        {% endfor %}
    </div>
</div>


<div class="carousel-container">
    <div class="carousel-title">Игры</div>
    <div class="carousel-wrapper">
        {% for video in games_videos %}
            {% include "videohost/includes/video_card.html" with video=video %}
        {% endfor %}
    </div>
</div>


<div class="carousel-container">
    <div class="carousel-title">Похожие видео</div>
    <div class="carousel-wrapper">
        {% for video in similar_videos %}
            {% include "videohost/includes/video_card.html" with video=video %}
        {% endfor %}
    </div>
</div>

{% endblock %}
