# Django framework
Django==5.2.12

# PostgreSQL driver
psycopg2

# Работа с изображениями
Pillow

# REST API
djangorestframework

# JWT аутентификация для DRF
djangorestframework-simplejwt

# Фильтры для API запросов
django-filter

# Работа с конфигами через .env
django-environ

# CORS заголовки (для фронтенда)
django-cors-headers

# Утилиты для разработки
django-extensions
ipython